blessed==1.15.0
colorama==0.4.1
datatable==0.9.0
dj-database-url==0.5.0
dj-static==0.0.6
Django==2.2.18
django-adminlte2==0.4.1
django-chartjs==1.5.0
django-extensions==2.2.1
django-heroku==0.3.1
django-localflavor==2.2
gunicorn==19.9.0
Pillow==6.2.1
psycopg2==2.8.4
python-decouple==3.1
python-stdnum==1.11
pytz==2019.1
six==1.12.0
sqlparse==0.3.0
static3==0.7.0
typesentry==0.2.7
wcwidth==0.1.7
whitenoise==4.1.4
