<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template de Teste</title>
</head>
<body>

    <p>Página que criei para fazer um teste.</p>
    <p>Não é uma página html quero quero usar dentro de um template chamado Teste</p>
    <p>fica dentro de template/teste/teste.html</p>
    <p>Esse template teste não tem relação com um APP que criei, apesar de ter configurado seus dentro do APP: home </p>
    <p> Para poder funcionar a chamada da página vou feito os codigos dentro dos arquivos: </p>
    <p> - home/urls</p>
    <p> - home/views</p>
    <p> - clinicaodontomed/urls</p>

    <p>O arquivo Html esta dentro do Template, no caso esse era meu intuito mesmo</p>
    <p> - templates/teste/teste.html</p>
    <p> </p>

</body>
</html>