{% load static %}

{% block scripts %}
<script src="{% static "jquery/dist/jquery.min.js" %}"></script>
<script src="{% static "jquery/dist/jquery-ui.min.js" %}"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
    $.widget.bridge('uibutton', $.ui.button);
</script>
<script src="{% static "bootstrap/dist/js/bootstrap.min.js" %} "></script>
<script src="{% static "admin-lte/dist/js/app.min.js" %}"></script>

<!--Daratable-->
<!--<script type="text/javascript" src="https://cdn.datatables.net/w/dt/dt-1.10.18/datatables.min.js"></script>-->
<!--<script type="text/javascript" src="https://cdn.datatables.net/w/bs/dt-1.10.18/r-2.2.2/datatables.min.js"></script>-->
<script type="text/javascript" src="https://cdn.datatables.net/w/bs4/dt-1.10.18/r-2.2.2/datatables.min.js"></script>

<!--DataPicker-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>
<!--Translation-->
<!-- todo: Colocar o arquivo do CDN da tradução dos datatables e não usar o link direto  -->

<!-- charts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.js"></script>


<script>
    $(document).ready( function () {
        $('#myTableCaixa').DataTable({
            "language": {
              "url": "http://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese-Brasil.json"
            },
            responsive: true,
            order: [],
            columnDefs: [
                { className: "text-right", responsivePriority: 9, targets: [ 9 ] },
                { className: "text-right", targets: [ 10 ] }, <!-- Desconto -->
                { className: "text-right", responsivePriority: 11, targets: [ 11 ] },
                { className: "text-right", responsivePriority: 12, targets: [ 12 ] },
            ]
        });

        $('#myTableGenerics').DataTable({
            "language": {
              "url": "http://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese-Brasil.json"
            },
            responsive: true,
            columnDefs: [
                { responsivePriority: -1,targets: -1 }
            ],
        });

    });
</script>

{% endblock %}
