{% extends 'adminlte/base.html' %}

{% include 'adminlte/_scripts.html' %}
<title>{% block title %}Gráfico{% endblock %}</title>

{% block content %}

<!--<div class="box box-primary">-->
<!--    <h1><span class="glyphicon glyphicon-signal">  Gráficos em  Desenvolvimento</span></h1>-->
<!--</div>-->


<div class="box box-success">
    <div class="box-header with-border">
      <h3 class="box-title">SOMENTE AS ENTRADAS </h3>

      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
        </button>
        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
      </div>
    </div>
    <div class="box-body">
      <div class="chart">
        <canvas id="myChart" style="height: 250px; width: 750px;" height="250" width="750"></canvas>
      </div>
    </div>

</div>

<div class="box box-success">
    <div class="box-header with-border">
      <h3 class="box-title">Entrada e Saida por Mês</h3>

      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
        </button>
        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
      </div>
    </div>
    <div class="box-body">
      <div class="chart">
        <canvas id="myChart2" style="height: 250px; width: 750px;" height="250" width="750"></canvas>
      </div>
    </div>

</div>

<div class="box box-success">
    <div class="box-header with-border">
      <h3 class="box-title">Entrada e Saida por Mês</h3>

      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
        </button>
        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
      </div>
    </div>
    <div class="box-body">
      <div class="chart">
        <canvas id="myChart3" style="height: 250px; width: 750px;" height="250" width="750"></canvas>
      </div>
    </div>

</div>


{% block js %}
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.js"></script>-->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
<script>

var ctx = document.getElementById("myChart");
var names = JSON.parse('{{ names|safe }}');
var prices = JSON.parse('{{ prices|safe }}');
var date = JSON.parse('{{ date|safe }}');
var pr_entradas = JSON.parse('{{ pr_entradas|safe }}')
var entradas = JSON.parse('{{ entradas|safe }}')
var dtEntradas = JSON.parse('{{ dtEntradas|safe }}')


var productsChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: dtEntradas,
        datasets: [{
            label: 'Entradas do Caixa',
            data: entradas,
            <!--backgroundColor: {{ choice_colours|safe }},-->
            borderColor: {{ choice_border_colours|safe }},
            borderWidth: 3
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});

var ctx = document.getElementById('myChart2').getContext('2d');
var date = JSON.parse('{{ date|safe }}')
var pr_entradas_saidas = JSON.parse('{{ pr_entradas_saidas|safe }}');
var mes = JSON.parse('{{mes|safe}}');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["Jan", "Fev", "Mar", "Abr", "Mai", "Jun", "Jul", "Ago", "Set", "Out", "Nov", "Dez"],
        datasets: [{

            label: 'Total de Entradas+Saidas no mês',
            data: pr_entradas_saidas, /*[12, 19, 3, 5, 2, 3,50,25,31,22,59,80],*/

            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(255, 159, 64, 0.2)',
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(255, 159, 64, 1)',
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});

var ctx = document.getElementById('myChart3').getContext('2d');
var pr_entradas = JSON.parse('{{ pr_entradas|safe }}');
var pr_saidas = JSON.parse('{{ pr_saidas|safe }}');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["Jan", "Fev", "Mar", "Abr", "Mai", "Jun", "Jul", "Ago", "Set", "Out", "Nov", "Dez"],
        datasets: [{

            label: 'Entradas',
            data: pr_entradas,

               backgroundColor: 'rgb(63, 191, 63)',
               borderColor: 'rgb(63, 191, 63)'
            },
            {
               label: 'Saidas',
               data: pr_saidas,

               backgroundColor: 'rgb(193, 66, 66)',
               borderColor: 'rgb(193, 66, 66)'

        }]
    },

});

</script>
{% endblock js %}
{% endblock %}
