{% extends 'adminlte/base.html' %}

{% load meus_filtros %}

{% block title %}
    Cadastro de Entrada/Saida
{% endblock %}

{% include 'adminlte/_scripts.html' %} <!-- Include para funcionar o JS -->


{% block content %}
<div class="box box-primary">
    <div class="box-header box-body">
        <h1 class="box-title">Cadastro de Entrada e Saídas</h1>
    </div>
</div>

<div class="box box-success">
    <div class="box-body">

        <form   id="myForm"
                method="post"
                data-urlEspecialidadesProfissional = "{% url 'listar_especialidades_profissional' %}"
        >

            {% csrf_token %}

            <div class="row">
                <div class="form-group col-md-2">
                    {{ form_entrada_saida.erros }}
                    <label>Dt Movimentação: </label>
                        {{ form_entrada_saida.dt_movimentacao|addclass:'form-control' }}
                </div>
                <div class="form-group col-md-8">
                    {{ form_entrada_saida.paciente.erros }}
                    <label>Nome do Paciente: </label>
                        {{ form_entrada_saida.paciente|addclass:'form-control' }}
                </div>
            </div>
            <div class="row">
        <!--Vai ficar fora pq estou trazendo o COMBO BOX-->
        <!--        <div class="form-group col-md-6">-->
        <!--            {{ form_entrada_saida.profissional.erros }}-->
        <!--            <label>Nome do Profissional: </label>-->
        <!--                {{ form_entrada_saida.profissional|addclass:'form-control' }}-->
        <!--        </div>-->
                <div class="form-group col-md-6">
                    {{ form_entrada_saida.fkprofissional.erros }}
                    <label>Profissional: </label>
                        {{ form_entrada_saida.fkprofissional|addclass:'form-control' }}
                </div>

<!--                <div class="form-group col-md-2">-->
<!--                    {{ form_entrada_saida.fkespecialidades.erros }}-->
<!--                    <label>Especialidade: </label>-->
<!--                        {{ form_entrada_saida.fkespecialidades|addclass:'form-control' }}-->
<!--                </div>-->

                    <div class="form-group col-md-4" style="padding:10px;">
                        <label for="idespecialidade">Especialidades Select</label>
                        <select id="idespecialidade" class="form-control">
                            <option>-------------------------</option>
                        </select>
                    </div>

            </div>

            <div class="row">
                <div class="form-group col-md-12">
                {{ form_entrada_saida.motivo.erros }}
                <label>Motivo: </label>
                    {{ form_entrada_saida.motivo|addclass:'form-control' }}
                </div>
            </div>
            <div class="row">

                <div class="form-group col-md-1">
                    {{ form_entrada_saida.qt_parcelas.erros }}
                    <label>Parcelas: </label>
                        {{ form_entrada_saida.qt_parcelas|addclass:'form-control' }}
                </div>
                <div class="form-group col-md-3">
                    {{ form_entrada_saida.valor_entr_saida.erros }}
                    <label>Vlr Entrada: </label>
                        {{ form_entrada_saida.valor_entr_saida|addclass:'form-control' }}
                </div>
                <div class="form-group col-md-3">
                    {{ form_entrada_saida.tp_entrada.erros }}
                    <label>Entrada/Saída: </label>
                        {{ form_entrada_saida.tp_entrada|addclass:'form-control' }}
                </div>
                <div class="form-group col-md-3">
                    {{ form_entrada_saida.tp_convenio.erros}}
                    <label>Convênio: </label>
                        {{ form_entrada_saida.tp_convenio|addclass:'form-control' }}
                </div>
            </div>
            <div class="row">

                <div class="form-group col-md-3">
                    {{ form_entrada_saida.tp_pagamento.erros }}
                    <label>Pagamento: </label>
                        {{ form_entrada_saida.tp_pagamento|addclass:'form-control' }}
                </div>
                <div class="form-group col-md-3">
                    {{ form_entrada_saida.tp_credito.erros }}
                    <label>Crédito: </label>
                        {{ form_entrada_saida.tp_credito|addclass:'form-control' }}
                </div>
                <div class="form-group col-md-2">
                    {{ form_entrada_saida.tp_porcentagem.erros }}
                    <label>Porcentagem: </label>
                        {{ form_entrada_saida.tp_porcentagem|addclass:'form-control' }}
                </div>
            </div>
            <div class="row">

                <div class="form-group col-md-12">
                    {{ form_entrada_saida.observacao.erros }}
                    <label>Observação: </label>
                        {{ form_entrada_saida.observacao|addclass:'form-control' }}
                </div>
            </div>

            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Salvar">
            </div>
        </form>
    </div>
</div>


            <form id="myFormSelect"
                  method="GET"
                  class="form-inline"
                  data-url="{% url 'listar_especialidades_profissional' %}"
            >
                    <div class="row">

                        <div class="form-group col-md-4" style="padding:10px;">
                            <label for="idprofissional">Profissionais Select</label>
                            <select id="idprofissional" class="form-control">
                                <option {% for profissional in form_entrada_saida.fkprofissional %}> {{ profissional }} </option>
                                {% endfor %}

                            </select>
                        </div>

                        <div class="form-group col-md-4" style="padding:10px;">
                            <label for="idespecialidadeselect">Especialidades Select</label>
                            <select id="idespecialidadeselect" class="form-control">
                                <option>-------------------------</option>
                            </select>
                        </div>

                    </div>

            </form>


{% block js %}
<script>

    $("#idprofissional").change(function(){
        let url = $('#myFormSelect').data('url');
        let idprofissional  = $(this).val();

        $.ajax({
            url: url,
            data: {
                idprofissional: idprofissional
            },
            success: function(response){
                $('#idespecialidadeselect').html(response);
            }
        });
    });


    $('#id_fkprofissional').change(function(){

        let urlEspecialidadesProfissional = $('#myForm').attr('data-urlEspecialidadesProfissional');
        let id_fkprofissional = $(this).val();
        console.log(urlEspecialidadesProfissional);
        console.log(id_fkprofissional);

        $.ajax({
            urlEspecialidadesProfissional: urlEspecialidadesProfissional,
            data:{
                id_fkprofissional: id_fkprofissional
            },
            success: function(response){
                        console.log('oi');
                $('#idespecialidade').html(response);
            }

        });
    });

</script>
{% endblock js %}

{% endblock content %}