{% extends 'base.html' %}

{% load meus_filtros %}

{% block conteudo %}

<form method="post">

    {% csrf_token %}

    <div class="form-group col-md-6">
        <label>Data da Movimentação: </label>
            {{ form_entrada_saida.dt_movimentacao|addclass:'form-control' }}
    </div>
    <div class="form-group">
        <label>Nome do Profissional: </label>
            {{ form_entrada_saida.profissional|addclass:'form-control' }}
    </div>
    <div class="form-group">
        <label>Nome do Paciente: </label>
            {{ form_entrada_saida.paciente|addclass:'form-control' }}
    </div>
    <div class="form-group">
        <label>Parcelas: </label>
            {{ form_entrada_saida.qt_parcelas|addclass:'form-control' }}
    </div>
    <div class="form-group">
        <label>Vlr Entrada: </label>
            {{ form_entrada_saida.valor_entr_saida|addclass:'form-control' }}
    </div>
    <div class="form-group">
        <label>Entrada/Saída: </label>
            {{ form_entrada_saida.tp_entrada|addclass:'form-control' }}
    </div>
    <div class="form-group">
        <label>Convênio: </label>
            {{ form_entrada_saida.tp_convenio|addclass:'form-control' }}
    </div>
    <div class="form-group">
        <label>Pagamento: </label>
            {{ form_entrada_saida.tp_pagamento|addclass:'form-control' }}
    </div>
    <div class="form-group">
        <label>Crédito: </label>
            {{ form_entrada_saida.tp_credito|addclass:'form-control' }}
    </div>
    <div class="form-group">
        <label>Porcentagem: </label>
            {{ form_entrada_saida.tp_porcentagem|addclass:'form-control' }}
    </div>
    <div class="form-group">
        <label>Observação: </label>
            {{ form_entrada_saida.observacao|addclass:'form-control' }}
    </div>
    <div class="form-group">
        <label>Motivo: </label>
            {{ form_entrada_saida.motivo|addclass:'form-control' }}
    </div>
    <div class="form-group">
        <label>Profissional: </label>
            {{ form_entrada_saida.fkprofissional|addclass:'form-control' }}
    </div>
    <div class="form-group">
        <label>Especialidade: </label>
            {{ form_entrada_saida.fkespecialidades|addclass:'form-control' }}
    </div>
    <div class="form-group">
        <input type="submit" value="Salvar">
    </div>
</form>

{% endblock conteudo %}