{% extends 'adminlte/base.html' %}

{% block title %}
    Remoção de Cidade
{% endblock %}

{% block content %}
<div class="col-md-12">
  <div class="box box-danger">
    <div class="box-header">
      <h3 class="box-title">Tem certeza que deseja remover essa Cidade ?</h3>

        <div class="card_body">
            <h5 class="card-title">{{ cidade.nome_cidade }} - {{ cidade.uf }}</h5>
            <hr>
            <form method="post">
                {% csrf_token %}
                <button class="btn btn-danger" type="submit">Remover</button>
                <a href="{{request.META.HTTP_REFERER}}" class="btn btn-success">Cancelar</a>
            </form>
        </div>

    </div>
  </div>
</div>
{% endblock content %}

