{% extends 'adminlte/base.html' %}

{% load meus_filtros %}

{% block title %}
    Cadastro de Cidade
{% endblock %}

{% block content %}
<div class="box box-primary">
    <div class="box-header box-body">
        <h1 class="box-title">Cadastro de Cidade</h1>
    </div>
</div>

<div class="box box-success">
    <div class="box-body">
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="form-group col-md-8">
                    <label>Nome da Cidade:</label>
                    {{ form_cidade.nome_cidade|addclass:'form-control' }}
                </div>

                <div class="form-group col-md-4">
                    <label>UF</label>
                    {{ form_cidade.uf|addclass:'form-control' }}
                </div>
            </div>

<!--            <div class="row">{{ form_cidade.as_p }}</div>-->

            <div class="row">
                <div class="form-group col-md-2">
                    <input class="btn btn-primary" type="submit"  value="Salvar">
                    <a href="{{request.META.HTTP_REFERER}}" class="btn btn-success">Cancelar</a>
                </div>
            </div>

        </form>
    </div>
</div>


{% endblock content %}
