{% extends 'adminlte/base.html' %}

{% load meus_filtros %}


{% block title %}
    Lista de Espcialidades
{% endblock %}


{% block content %}

<h1>Lista de Especialidades</h1>

<table class="table table-striped">
    <thead>
        <tr>
<!--            <th scope="col">#</th>-->
            <th class="col-md-5"scope="col">Especialidades</th>
            <th class="col-md-1" scope="col">Ações</th>
        </tr>
    </thead>

    <tbody>
    {% for especialidade in especialidades %}
        <tr>
            <td>{{ especialidade.especialidade }}</td>

            <td>
<!--                <a class="btn btn-info" href="{ url 'editar_cidade' cidade.id }">-->
<!--                    <i class="fa fa-edit"></i>-->
<!--                </a>-->
<!--                <a class="btn btn-danger" href="{ url 'remover_cidade' cidade.id }">-->
<!--                    <i class="fa fa-trash"></i>-->
<!--                </a>-->
            </td>
       </tr>
    {% endfor %}
    </tbody>
</table>

<a href="{% url 'cadastrar_especialidade' %}"><input type="button" class="btn btn-primary mb3" value="Cadastrar Especialidade"></a>

{% endblock content %}
